.basicText{
    color: purple;
    text-align: center;
  }

  #rightbox{
    float:right;
    background:rgb(211,161,230);
    width:50%;
}

#leftbox{
  float:left;
  background:white;
  width:50%;
  
}

#big{
  display: flex;
  color : white,
}