#wardrobelist{
    background-color: white;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    height: 50%;
    border-radius: 15%;
}

#testca{
    background-color: red;
    height:80%;
    width: 80%;
}