#one{
}
#two{
  font-size:1.5em;
  margin-bottom: 10vh;
  font-family: specMED;
}
#three{
  font-size:1.5em;
  font-family: specMED;

}
#uno{
  display:flex;
  flex-direction: row;
  align-items: center;
}
#dos{
  padding-top:1%;
  padding-right:5%;
  padding-left:5%;
  width:30%;
  margin:auto;
  
  background-color: var(--primary-color);
  margin-bottom:5vw;
}
#dos > h1{
  font-size: 2em;
}
#dos > #two{
  font-size: 1.5em;
}
#negativo{
  font-family: kumarOutline;
  color:black;
}
#neg{
  background-color: var(--secondary-color);
  width:66%;
  margin:auto;
  margin-top:-4vw;
  margin-bottom:5vw;
  padding-bottom:35vh;
  padding-top:2.5vh;
}