#smalldata{
    width: 25%;
    margin-left:2%;
    margin-right:2%;
}

#bigdata{
    margin-left:10%;
    margin-right:10%;
    display: flex;
    text-align: center;
    text-decoration-line: underline;

}

#bigdata2{
    margin-left:11%;
    margin-right:9%;
    margin-bottom:5%;
    display: flex;
    text-align: center;
}

#biggestdata{
}

#animated{
    height: 600px;
}

