#upCanvas{
    border: 5px;
    border-style: solid;
}

#gameboy{
    font-family: specMED;
    display:flex;
    color:white;
    border:none;
}

#leftDesigner{
    border:none;
    background-color: var(--quadrinary-color);
}
#topDesign{
    display:flex;
    background-color: var(--quadrinary-color);
}
#pendingImageOption{
    display: flex;
}
#frontback{
    margin-right:auto;
    margin-left:auto;
    font-family: specMED;
}

#shirtColorPicker{
    margin-right:40%;
    margin-left: 5%;
    background-color: var(--secondary-color);

}
#rightDesign2{
    display: flex;
    align-items: center;
    
    justify-content: center;
}

#colorPickerWords{
    margin-right: 0%;
}

#shirtColorPicker2{
    
    display: flex;
}

#shirtColorPicker3{
    height:150px;
    width:300px;
}

#modelviewdesign{
    height:auto;
    width: 30%;

}

#seeModelButton{
    height: 20%;
    width: 50%;
    margin-right:25%;
    margin-left:25%;
    margin-top: 40%;
    margin-bottom: 40%;
    font-family: kumarOutline;
    font-size: 200%;
}

#rightDesign{
   
    display:flex;
    flex-direction: column;
    margin-right:auto;
    margin-left:auto;
}

#uploadLabel{
    background-color: beige;
}

#cancelUpload{
    display: none;
}

#rdco{
    margin-top: 2%;
    color: var(--secondary-color);
    font-size: large;
    margin-right: 5%;
    margin-bottom: 5%;;

}
#textupload{
    display: flex;
}
#dd2model{
    height: 700px;
    background: linear-gradient(89.97deg, #be93aa07 1.84%, #746c7428 102.67%);
    background-position: center;
    background-size: 2800px 700px;
    animation: animStar 1.8s linear infinite;
}

#blueUp{
    background-color: var(--quadrinary-color);
    border-style: solid;
    border-color: var(--black-color);
    border-radius: 15px;
    border-width: 5px;
    display: flex;
    color:var(--tertiary-color);
    margin-bottom:1vh;
}

#downimage{
    margin-top: auto;
    margin-bottom: auto;
    margin-right:5%;
}

#downtext{
    margin-right: auto;
    margin-left:auto;
}
#arrowB{
    align-items: center;
    justify-content: center;
}
#arrowS{
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}



#arrowU{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#arrowSS{
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
}

#lbut{
    transform:rotate(270deg)
}

#rbut{
    transform:rotate(90deg)
}

#dbut{
    transform:rotate(180deg)
}

#finishDButton{
    align-items: center;
    justify-content: center;
}

#totalFinishD{
    align-items: center;
    justify-content: center;
    margin-right: 40%;
    margin-left: 40%;
    width: 20%;
}