#upCanvas{
    border: 5px;
    border-style: solid;
}

#gameboy{
    font-family: specMED;
    display:flex;
    color:white;
    border:none;
}

#leftDesigner{
    border:none;
    background-color: var(--quadrinary-color);
}
#topDesign{
    display:flex;
    background-color: var(--quadrinary-color);
}
#pendingImageOption{
    display: flex;
}
#frontback{
    margin-right:auto;
    margin-left:auto;
    font-family: specMED;
}

#modelviewdesign{
    height:100%;
    width: 30%;

}

#rightDesign{
   
    display:flex;
    flex-direction: column;
    margin-right:auto;
    margin-left:auto;
}

#uploadLabel{
    background-color: beige;
}

#cancelUpload{
    display: none;
}

#blueUp{
    background-color: var(--quadrinary-color);
    border-style: solid;
    border-color: var(--black-color);
    border-radius: 15px;
    border-width: 5px;
    display: flex;
    color:var(--tertiary-color);
    margin-bottom:1vh;
}

#downimage{
    margin-top: auto;
    margin-bottom: auto;
    margin-right:5%;
}

#downtext{
    margin-right: auto;
    margin-left:auto;
}
#arrowB{
    align-items: center;
    justify-content: center;
}
#arrowS{
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}



#arrowU{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#arrowSS{
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
}

#lbut{
    transform:rotate(270deg)
}

#rbut{
    transform:rotate(90deg)
}

#dbut{
    transform:rotate(180deg)
}